@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Proxima;
        font-weight: 400;
        src: url('/fonts/ProximaNova.otf') format("otf");
    }
}

.text-balance {
    text-wrap: balance;
}